/* HEADER */

.banner {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  /* position: fixed;
  z-index: 1; */
  }

  .logo {
   display: flex;
   flex-grow: 1;
   padding-left: 30px;
   align-items: center;
    }

    #brand {
      color: MediumAquamarine;
    }

 .logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

 .logo span {
  color: MediumAquamarine;
}

nav {
  padding-right: 40px;
  justify-content: flex-end;
    }

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* BODY CONTENT */
.content {
  display: flex;
  margin: 1 auto;
  border: 1px solid black;
  width: 100%;
  justify-content: center;
  font-family: Georgia, Open-Sans, serif;

  }

.column {
display: flex;
/* flex-direction: column; */
margin: 0 auto;
justify-content: space-between;
/* border: 1px solid black; */
flex-wrap: wrap;
flex-shrink: 2;
width=100%;
}

.column-large {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 630px;
  /* border: 3px solid blue; */
  flex-shrink: 2;
  padding-top: 10px;
  margin-right: 32px;
}

.column-medium {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
/*   border: 3px solid green; */
  flex-shrink: 2;
  padding-top: 10px;
  margin-right: 32px;
}

.column-small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 240px;
/*   border: 3px solid yellow; */
  flex-shrink: 2;
  padding-top: 10px;
  margin-right: 32px;
}

.story {
  display: flex block;
  flex-wrap: wrap;
/*  border: 1px solid black; */
  font-family: Georgia;
  font-size: 17px;
  color: black;
  text-align: left;
  align-items: center;
  flex-shrink: 2;
      }

      #col-one {
        width: 49%;
      }

    .stories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      /*  border: 1px solid blue; */
        }

.story.img-story {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      align-items: center;
      font-weight: bold;
      color: white;
      text-align: center;
      font-size: 30px;
      height: 300px;
              }

.story.img-story.img-main {
  font-size: 40px;
  text-align: left;
  background-image: url('../images/img-story-main.png')
}
.story.img-story.img-two {
  background-image: url('../images/img-story-2.png')

}

.story.img-story.img-three {
  background-image: url('../images/img-story-3.png')
}
.story.img-story.img-four {
  background-image: url('../images/img-story-1.png')
  }

.newsbites {
  font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}
.bite {
  margin: 0;
  padding-left: 10px;
  width: 100%;
  font-weight: normal;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: left;
}

/* END CONTENT SECTION */

/*FOOTER*/
.footer {
  display: inline-flex;
  flex-wrap: wrap;

  justify-content: center;
  height: 325px;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footer-brand {
align-items:flex-end;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;

  height: 50%;

  }

.footer-nav {
  align-items: flex-end;
  height: 50%;
  display: flex;
  flex-wrap: wrap;

  }
  .footer-link {
    padding: 0px 15px;
    align-items: center;

  }
  .copyright {
width: 99%;
height: 50%;
text-align: center;
justify-content: center;

      }

#align {
  line-height: 16px;
}




























</style>
